RewriteEngine On

# Redirect Trailing Slashes If Not A Folder
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]

# Serve static files directly
RewriteCond %{REQUEST_URI} ^/public/
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Send all other requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
